rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow unrestricted read and write access to all documents
    match /{document=**} {
      allow read, write: if true;
    }
  }
}